{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

{% if app.user %}

    <a href='{{ relative_path('/logout') }}'>logout</a>

{% else %}

    <a href='{{ relative_path('/login') }}'>login</a>

{% endif %}

{% endblock %}
