{% extends 'base.html.twig' %}

{% block title %}Welcome to SnowTricks!{% endblock %}

{% block body %}

{% if app.user %}

    <a href='{{ path('logout') }}'>logout</a>

{% else %}

    <a href='{{ path('login') }}'>login</a>

{% endif %}

    <a href='{{ path('trick_index') }}'>tricks </a>

{% endblock %}
